front_end/tyrants/.gitignore
/venv/*
/.idea/*
brahmi_backend/.idea/
features/.idea/
front_end/tyrants/android/java_pid36510.hprof
brahmi_backend/classification_model/__pycache__/*
brahmi_backend/segmentation_module/__pycache__/*
brahmi_backend/word_finder_module/__pycache__/*
brahmi_backend/utils/__pycache__/*
brahmi_frontend/tyrants/node_modules
brahmi_frontend/tyrants/android/OpenCV452
.gitignore