front_end/tyrants/.gitignore
front_end/tyrants/package-lock.json
front_end/tyrants/package.json
/venv/*
/.idea/*
brahmi_backend/.idea/
features/.idea/
front_end/tyrants/android/java_pid36510.hprof
brahmi_backend/models/classification_model/__pycache__/*
brahmi_backend/models/segmentation_model/__pycache__/*
brahmi_backend/models/word_finder_model/__pycache__/*
.gitignore