# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\My Works\Python Projects\Translator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
